// font colors
$colorPrimary: white;
$colorSecondary: yellow;
$colorDark: black;
$colorLight: white;

// background colors
$bgColorPrimary: #2d2d2d;
$bgColorSecondary: #3f3f3f;

// font type
$fontPrimary: 'Montserrat', sans-serif;

// buttons colors
$bgButtonPrimary: #366EFF;