.sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: #e2f1ee;

}

.item {
    margin: 10px;
}

.item a {
    text-decoration: none;
}

.link {
    color: black;
}

.active {
    color: chocolate;
}