@import '../../../common/sass/variables';
@import '../../../common/sass/mixins.scss';
@import '../../../common/sass/templates';

.container {

  .pack {
    display: flex;
    justify-content: space-between;

    .name_pack {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-right: 10px;
      @include fontStyle(600, 22px, 27px, $colorDark);
      text-align: start;
    }

    button {
      @extend %buttonPage;
      margin-top: 20px;
      @include fontStyle(500, 16px, 20px, $colorLight);
    }
  }


  .empty_name {
    @include fontStyle(400, 16px, 20px, $colorDark);
    text-align: center;
    opacity: 0.5;
  }

  .empty_box {
    button {
      @extend %buttonPage;
      @include fontStyle(500, 16px, 20px, $colorLight);
    }
  }
}



